API_PORT=8080

POSTGRES_HOST=db
POSTGRES_USER=joyna
POSTGRES_PASSWORD=joyna
POSTGRES_DB=joyna
POSTGRES_PORT=5432
DATABASE_URL=postgres://joyna:joyna@db:5432/joyna?sslmode=disable

PGADMIN_DEFAULT_EMAIL=admin@joyna.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
